.breadcrum-div {
  margin: 50px auto;

  .breadcrum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 22vw;
  }

  .list-name {
    font-size: 12px;
    text-decoration: none;
  }
  .home {
    color: black;
    font-size: 15px;
  }
  .grey-text {
    font-family: "Lato";
    color: rgb(87, 79, 79);
    font-weight: bold;
  }
  .black-text {
    font-family: "Lato";
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  .caret {
    color: #fcdc4d;
    font-size: 20px;
  }
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .side-section {
    width: 25%;
  }
  .content-div {
    width: 75%;
  }
}
