.reviews-div {
  width: 100%;
  margin-bottom: 100px;

  h2 {
    letter-spacing: 1px;
    padding-bottom: 25px;
    font-weight: 900;
  }
  .stars {
    padding-bottom: 30px;
    .checked-icon {
      color: #fcdc4d;
      font-size: 15px;
    }
    .unchecked-icon {
      color: rgb(182, 178, 178);
      font-size: 15px;
    }
    .star-likes {
      padding: 10px;
      color: rgb(133, 131, 131);
      font-family: "Lato", sans-serif;
      font-weight: 400;
    }
  }
  .feedback-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .load {
      text-align: center;
      padding-top: 20px;
      font-weight: 700;
      cursor: pointer;
    }
    .comments-div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 40px;
      width: 100%;
      .image-name-div {
        width: 40%;
        display: flex;
        .name-div {
          padding-left: 20px;
          padding-right: 50px;
          width: 200px;
        }
        .profile-image {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
        .gray-text {
          color: rgb(133, 131, 131);
          font-size: 15px;
        }
      }
      .bold-text {
        font-weight: 700;

        padding-bottom: 5px;
      }
      .review-container {
        width: 60%;
        padding-right: 60px;

        .comments {
          font-weight: 300;
          text-align: justify;
          margin-bottom: 20px;
        }
      }
    }
  }
}
