$background-color: linear-gradient(180deg, #fff06b, #fff06b);

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: white;

  .list {
    width: 700px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }
  .link-bg {
    background-image: $background-color;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 1rem;
  }
  .icon-link {
    color: black;
  }
  .link {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    font-family: "Lato";
    // font-family: "Montserrat", sans-serif;
    font-weight: 600;
    &:hover {
      background-image: $background-color;
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100% 1rem;
    }
  }
  .logo {
    color: black;
  }
  .bag-link {
    position: relative;
    .cart-count {
      font-family: "Lato";
      font-style: italic;
      position: absolute;
      border-radius: 50%;
      right: -15px;
      top: -12px;
      font-size: 12px;
      background: yellow;
      height: 21px;
      width: 21px;

      text-align: center;
      line-height: 21px;
      z-index: 1;
    }
  }
}
