.side-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 70px;
  padding-right: 100px;
  list-style: none;
  width: 100%;

  .list-link {
    margin: 20px;
  }
  .link {
    text-decoration: none;

    // font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 0.1rem;
  }
  .style-icon {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }
  .icons {
    font-size: 20px;
  }
}
